.button-container {
  width: 196px;
  height: 35px;
  box-shadow: 0 8px 8.6px rgba(0, 0, 0, 0.5);
}

.image-placeholder {
  left: 48px;
  background-color: var(--color-white);
  width: 11px;
}
.frame15,
.image-placeholder,
.image-placeholder1 {
  position: absolute;
  top: 0;
  box-shadow: 0 8px 8.6px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-mini);
  height: 7px;
}
.frame15 {
  left: 14px;
  background-color: var(--color-orangered);
  width: 29px;
  overflow: hidden;
  z-index: 1;
}
.image-placeholder1 {
  left: 0;
  background-color: var(--color-white);
  width: 11px;
}
.image-wrapper {
  height: 7px;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.frame14 {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-12xs);
}
.frame-wrapper,
.frame13,
.frame14 {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper {
  width: 196px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-49xl);
  box-sizing: border-box;
}
.frame13 {
  align-self: stretch;
  box-shadow: 3px -6px 22.1px rgba(0, 0, 0, 0.25);
  background-color: var(--color-darkgreen);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-80xl-5) var(--padding-xl);
  gap: var(--gap-lgi);
}
